# Helper Notebook for Data Warehouse Project

In [ ]:
!pip install s3fs  # to view the S3 bucket data

In [2]:
import pandas as pd
import boto3
import json

## Creating Redshift Cluster using the AWS python SDK 
## STEP 0: Make sure you have an AWS secret and access key

- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

# Load DWH Params from a file

In [3]:
# Note: the dwh_setup.cfg for this purpose is not saved in this project folder to protect the password
# just put the code here for future reference

import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh_setup.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

## Create clients for EC2, S3, IAM, and Redshift

In [4]:
# set up in us-west-2 where the S3 bucket containing our data
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

## Check out the sample data sources on S3

In [5]:
sampleDbBucket =  s3.Bucket("awssampledbuswest2") #udacitysteventry1
for obj in sampleDbBucket.objects.filter(Prefix="ssbgz"): #(Prefix="ssbgz"):
    print(obj)

# TODO: Iterate over bucket objects starting with "ssbgz" and print

s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/customer0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/dwdate.tbl.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0004_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0005_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0006_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/lineorder0007_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/part0003_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier.tbl_0000_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0001_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0002_part_00.gz')
s3.ObjectSummary(bucket_name='awssampledbuswest2', key='ssbgz/supplier0003_part_00.gz')

### Skip until STEP 2.1 since these are one-time set up.

## STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [5]:
# TODO: Create the IAM role
#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.

In [6]:
# TODO: Attach Policy
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

1.2 Attaching Policy

200

In [8]:
# TODO: Get and print the IAM role ARN
print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::369751981827:role/dwhRole

## STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- For complete arguments to `create_cluster`, see [docs](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/redshift.html#Redshift.Client.create_cluster)

In [9]:
try:
    response = redshift.create_cluster(        
        # TODO: add parameters for hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),        

        # TODO: add parameters for identifiers & credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,        
        
        # TODO: add parameter for role (to allow s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## 2.1 *Describe* the cluster to see its status
- run this block several times until the cluster status becomes `Available`

In [6]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-5087c128
7,NumberOfNodes,4

<h2> 2.2 Take note of the cluster <font color='red'> endpoint and role ARN </font> </h2>

<font color='red'>DO NOT RUN THIS unless the cluster status becomes "Available" </font>

In [7]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::369751981827:role/dwhRole

## STEP 3: Open an incoming  TCP port to access the cluster endpoint

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0] # [0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0b6b4f20')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [12]:
list(vpc.security_groups.all())

[ec2.SecurityGroup(id='sg-0b6b4f20')]

## STEP 4: Make sure you can connect to the clusterConnect to the cluster

In [8]:
%load_ext sql

In [9]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

# Here we take a look the data in the source S3 are to be copied into our Redshift cluster

In [13]:
df_log = pd.read_json('s3://udacity-dend/log_data/2018/11/2018-11-01-events.json', lines = True)
print(df_log.columns)
df_log.head()

Index(['artist', 'auth', 'firstName', 'gender', 'itemInSession', 'lastName',
       'length', 'level', 'location', 'method', 'page', 'registration',
       'sessionId', 'song', 'status', 'ts', 'userAgent', 'userId'],
      dtype='object')

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36""",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36""",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36""",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36""",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36""",8

In [14]:
df_song = pd.read_json('https://udacity-dend.s3-us-west-2.amazonaws.com/song_data/A/A/A/TRAAAAK128F9318786.json', lines = True)
print(df_song.columns)
df_song.head()

Index(['artist_id', 'artist_latitude', 'artist_location', 'artist_longitude',
       'artist_name', 'duration', 'num_songs', 'song_id', 'title', 'year'],
      dtype='object')

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.9424,1,SOBLFFE12AF72AA5BA,Scream,2009

## STEP 5: Now we are ready to test our data import into Redshift
## Note: below to query the database once you have imported/copied the data into Redshift

In [15]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address'] 
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::369751981827:role/dwhRole

In [16]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [17]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [28]:
%%sql
SELECT COUNT(*)
FROM staging_events
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [29]:
%%sql
SELECT COUNT(*)
FROM staging_songs
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [30]:
%%sql
SELECT *
FROM songplays
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(168, datetime.datetime(155, 1, 23, 14, 38, 36), 44, 'paid', 'SOCSXKQ12A6D4F95A0', 'ARRE7IQ1187FB4CF13', 196, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (40, datetime.datetime(155, 3, 6, 12, 28, 36), 97, 'paid', 'SODHZVG12A8C1404DD', 'ARS5WKC1187B9AC7D1', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (174, datetime.datetime(155, 3, 11, 10, 8, 36), 35, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 171, 'St. Louis, MO-IL', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (65, datetime.datetime(155, 3, 26, 2, 18, 36), 44, 'paid', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 237, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (120, datetime.datetime(155, 4, 4, 1, 8, 36), 69, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 259, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [31]:
%%sql
SELECT *
FROM users
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [32]:
%%sql
SELECT *
FROM songs
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAGBO12AB017CEBB', 'Death Of Emmett Till', 'AR60ODO1187FB4D9AB', 2002, Decimal('233')),
 ('SOAAKLA12A58A7A3CC', 'Snow Day (LP Version)', 'ARGWNT41187FB463F1', 0, Decimal('211')),
 ('SOABHSF12AB0182977', 'Perdicion', 'ARFD5AT1187FB40779', 0, Decimal('281')),
 ('SOABLAF12AB018E1D9', 'Lesson Learned', 'ARSW5F51187FB4CFC9', 2009, Decimal('256')),
 ('SOABSTO12AB0180A29', 'Duke of Earl', 'ARL53RS1187B9B19AD', 1994, Decimal('224'))]

In [23]:
%%sql
SELECT *
FROM artists
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100')),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25'), Decimal('-100'))]

In [24]:
%%sql
SELECT *
FROM time
LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(154, 11, 6, 11, 8, 36), 11, 6, 45, 11, 154, 3),
 (datetime.datetime(154, 11, 6, 13, 28, 36), 13, 6, 45, 11, 154, 3),
 (datetime.datetime(154, 11, 7, 5, 38, 36), 5, 7, 45, 11, 154, 4),
 (datetime.datetime(154, 11, 7, 11, 28, 36), 11, 7, 45, 11, 154, 4),
 (datetime.datetime(154, 11, 8, 2, 8, 36), 2, 8, 45, 11, 154, 5)]

## STEP 6: let's perform some analytics query

### 1. Top 5 most count of songplay by locations

In [33]:
%%sql
SELECT location, count(*) 
FROM songplays 
GROUP BY location 
ORDER BY count(*) 
DESC LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('San Francisco-Oakland-Hayward, CA', 168),
 ('Lansing-East Lansing, MI', 128),
 ('Portland-South Portland, ME', 124),
 ('Waterloo-Cedar Falls, IA', 84),
 ('Tampa-St. Petersburg-Clearwater, FL', 72)]

### 2. Count of songplay by gender and by level

In [34]:
%%sql
SELECT songplays.level AS user_type, 
    COUNT(CASE WHEN users.gender = 'F' THEN 1 ELSE NULL END) AS Female_count, 
    COUNT(CASE WHEN users.gender = 'M' THEN 1 ELSE NULL END) AS Male_count 
    FROM songplays 
    JOIN users ON songplays.user_id = users.user_id 
    GROUP BY songplays.level;

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('paid', 1240, 400), ('free', 136, 132)]

### 3. Count of songplay by weekday

In [35]:
%%sql
SELECT time.weekday, 
    COUNT(songplays.songplay_id) AS number_of_play 
    FROM songplays 
    JOIN time ON songplays.start_time = time.start_time 
    GROUP BY time.weekday 
    ORDER BY weekday;

 * postgresql://dwhuser:***@dwhcluster.ceo7fbubkjzm.us-west-2.redshift.amazonaws.com:5439/dwh
7 rows affected.

[(0, 156), (1, 220), (2, 244), (3, 168), (4, 180), (5, 160), (6, 204)]

## STEP 7: Clean up your resources (If needed. We can actually just pause these resources rather than terminate these)

<b><font color='red'>DO NOT RUN THIS UNLESS YOU ARE SURE <br/>

In [85]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'AllowVersionUpgrade': True,
  'AutomatedSnapshotRetentionPeriod': 1,
  'AvailabilityZone': 'us-west-2b',
  'ClusterCreateTime': datetime.datetime(2019, 2, 16, 6, 21, 30, 630000, tzinfo=tzutc()),
  'ClusterIdentifier': 'dwhcluster',
  'ClusterParameterGroups': [{'ParameterApplyStatus': 'in-sync',
    'ParameterGroupName': 'default.redshift-1.0'}],
  'ClusterSecurityGroups': [],
  'ClusterStatus': 'deleting',
  'ClusterSubnetGroupName': 'default',
  'ClusterVersion': '1.0',
  'DBName': 'dwh',
  'Encrypted': False,
  'Endpoint': {'Address': 'dwhcluster.csmamz5zxmle.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'EnhancedVpcRouting': False,
  'IamRoles': [{'ApplyStatus': 'in-sync',
    'IamRoleArn': 'arn:aws:iam::988332130976:role/dwhRole'}],
  'MasterUsername': 'dwhuser',
  'NodeType': 'dc2.large',
  'NumberOfNodes': 4,
  'PendingModifiedValues': {},
  'PreferredMaintenanceWindow': 'fri:10:30-fri:11:00',
  'PubliclyAccessible': True,
  'Tags': [],
  'VpcId': 'vpc-54d40a2c',
  'VpcSecurityGroups': []},
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '2041',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:32 GMT',
   'x-amzn-requestid': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9'},
  'HTTPStatusCode': 200,
  'RequestId': '5e58b2d8-31ba-11e9-b19b-0945d449b0a9',
  'RetryAttempts': 0}}

- run this block several times until the cluster really deleted

In [33]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cxbe5zacq6z9.us-east-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-e6b4499b
7,NumberOfNodes,4

In [87]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '200',
   'content-type': 'text/xml',
   'date': 'Sat, 16 Feb 2019 07:13:50 GMT',
   'x-amzn-requestid': '694f8d91-31ba-11e9-9438-d3ce9c613ef8'},
  'HTTPStatusCode': 200,
  'RequestId': '694f8d91-31ba-11e9-9438-d3ce9c613ef8',
  'RetryAttempts': 0}}